<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Aplikasi Faktur</title>
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
	
	<!-- Template Styles -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<!-- CSS Reset -->
	<link rel="stylesheet" href="css/normalize.css">
	
	<!-- Milligram CSS minified -->
	<link rel="stylesheet" href="css/milligram.min.css">
	
	<!-- Main Styles -->
	<link rel="stylesheet" href="css/styles.css">
	
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div class="navbar">
		<div class="row">
			<div class="column column-30 col-site-title"><a href="#" class="site-title float-left">Aplikasi Faktur</a></div>
			<div class="column column-30">
				<div class="user-section"><a href="#">
					<img src="https://avatars0.githubusercontent.com/u/22759402?s=400&u=84133cc3ce3f49c84249540705023573a6b4292f&v=4" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
					<div class="username">
						<h4>Tazkia Karima</h4>
						<p>Administrator</p>
					</div>
				</a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="sidebar" class="column">
			<h5>Navigation</h5>
			<ul>	
				<li><a href="#forms"><em class="fa fa-pencil-square-o"></em> Faktur</a></li>
				<li><a href="#tables"><em class="fa fa-table"></em> User</a></li>				
				<li><a href="#grid"><em class="fa fa-columns"></em> Product</a></li>
				<li><a href="#buttons"><em class="fa fa-hand-o-up"></em> History</a></li>
			</ul>
		</div>
		<section id="main-content" class="column column-offset-20">
			<div class="row grid-responsive">
			</div>
			



					<!--Form Surat Jalan-->
					<div class="grids">
					<div class="progressbar-heading grids-heading">
						<h2>Form Surat Jalan</h2>
					</div>
					&nbsp;&nbsp; 
					<div class="panel panel-widget forms-panel">
						<div class="forms">
							<div class="form-grids widget-shadow" data-example-id="basic-forms"> 
								
								<div class="form-body">
									<form> <div class="form-group"> <label for="exampleInputEmail1">Pembeli</label> <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Pembeli"> </div>
									
									<form> <div class="form-group"> <label for="exampleInputEmail1">Jumlah Barang</label> <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Jumlah Barang"> </div> 
									<button type="submit" class="btn btn-default">Add</button> </form>
									
									<form> <div class="form-group"> <label for="exampleInputEmail1">Alamat</label> <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Alamat"> </div> 
									
									<form> <div class="form-group"> <label for="exampleInputEmail1">Nomor HP</label> <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nomor HP"> </div> 
									<button type="submit" class="btn btn-default">Submit </button> </form>
									
								</div>
							</div>
						</div>
					</div>




	<p class="credit">Aplikasi Faktur By<a href="https://www.medialoot.com">Faktur</a></p>
		</section>
	</div>
	
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script>
	window.onload = function () {
		var chart1 = document.getElementById("line-chart").getContext("2d");
		window.myLine = new Chart(chart1).Line(lineChartData, {
		responsive: true,
		scaleLineColor: "rgba(0,0,0,.2)",
		scaleGridLineColor: "rgba(0,0,0,.05)",
		scaleFontColor: "#c5c7cc"
		});
		var chart2 = document.getElementById("bar-chart").getContext("2d");
		window.myBar = new Chart(chart2).Bar(barChartData, {
		responsive: true,
		scaleLineColor: "rgba(0,0,0,.2)",
		scaleGridLineColor: "rgba(0,0,0,.05)",
		scaleFontColor: "#c5c7cc"
		});
		var chart4 = document.getElementById("pie-chart").getContext("2d");
		window.myPie = new Chart(chart4).Pie(pieData, {
		responsive: true,
		segmentShowStroke: false
		});
		var chart5 = document.getElementById("radar-chart").getContext("2d");
		window.myRadarChart = new Chart(chart5).Radar(radarData, {
		responsive: true,
		scaleLineColor: "rgba(0,0,0,.05)",
		angleLineColor: "rgba(0,0,0,.2)"
		});
		var chart6 = document.getElementById("polar-area-chart").getContext("2d");
		window.myPolarAreaChart = new Chart(chart6).PolarArea(polarData, {
		responsive: true,
		scaleLineColor: "rgba(0,0,0,.2)",
		segmentShowStroke: false
		});
	};
	</script>			

</body>
</html> 